.full-width {
  width: 100%;
}
.signup-div {
  margin-top: 50px;
}
.signup {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  /* background-color: antiquewhite; */
  -webkit-box-shadow: 11px 10px 33px -11px rgba(24, 170, 186, 1);
  -moz-box-shadow: 11px 10px 33px -11px rgba(24, 170, 186, 1);
  box-shadow: 11px 10px 33px -11px rgba(24, 170, 186, 1);
}
.navbar-brand {
  font-size: 50px;
  font-family: "Hind ", cursive;
}
.logo {
  text-decoration: none;
  color: black;
}
