<mat-card class="mt20 ml20 mr20 mb20" *ngFor="let q of quizzes">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ q.title }}</mat-card-title>
    <mat-card-subtitle>{{ q.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      [routerLink]="'/admin/view-questions/' + q.qid + '/' + q.title"
    >
      Questions
    </button>
    <button mat-stroked-button color="accent">
      Max Marks :{{ q.maxMarks }}
    </button>
    <button mat-stroked-button color="accent">
      Questions : {{ q.numberOfQuestions }}
    </button>
    <!-- [routerLink]:dynamic data,routerlink:static data -->

    <button mat-button color="accent" [routerLink]="'/admin/quiz/' + q.qid">
      <mat-icon>edit</mat-icon>
    </button>
    <!-- view how many users attempted this quiz -->
    <button
      mat-raised-button
      color="accent"
      [routerLink]="'/admin/result/getUsers/' + q.qid"
    >
      attempts
    </button>

    <button mat-button color="warn" (click)="deleteQuiz_(q.qid)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<div class="container text-center mt10">
  <!-- <button routerLink="/admin/add-quiz" mat-raised-button color="accent">
    Add Quiz
  </button> -->
  <button
    routerLink="/admin/add-quiz"
    color="accent"
    mat-fab
    aria-label="Example icon button with a heart icon"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
