<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a style="margin-top: 20px" class="navbar-brand" href="#">Quizzical</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
      <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul> -->
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="desc col-md-6 text-center">
      <!-- Description -->
      <h1 class="heading">Take a quiz with Quizzical</h1>
      <p class="sub-head">
        Quizzical is a website <br />
        that helps you to evaluate your knowlege using simple quizzes
      </p>
      <button
        type="button"
        class="btn btn-outline mr20 signup-btn"
        routerLink="/signup"
      >
        SignUp
      </button>
      <button
        type="button"
        class="btn btn-outline login-btn"
        routerLink="/login"
      >
        Login
      </button>
    </div>

    <div class="col-md-6">
      <div class="text-center">
        <!-- image -->
        <img class="homeimg" src="../../../assets/question.png" alt="homeimg" />
      </div>
    </div>
  </div>
</div>
